In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

## 서울시 민원 데이터 https://data.seoul.go.kr/dataList/89/S/2/datasetView.do

In [ ]:
df = pd.read_csv('data.csv')

In [ ]:
df.head(3)

,1999,1999.1,1999.2,1999.3,1999.4,1999.5,1999.6,1999.7,1999.8,1999.9,...,2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,2013.8,2013.9
0,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,소계,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,...,소계,소계,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야
2,소계,소계,건설분야,교통분야,도시계획분야,문화관광분야,보건복지분야,산업경제분야,소방분야,주택건축분야,...,소계,소계,소계,소계,건설분야,건설분야,교통분야,문화관광분야,산업경제분야,환경분야

In [ ]:
df.shape

(5, 257)

In [ ]:
df.columns[:30]

Index(['1999', '1999.1', '1999.2', '1999.3', '1999.4', '1999.5', '1999.6',
       '1999.7', '1999.8', '1999.9', '1999.10', '1999.11', '2000', '2000.1',
       '2000.2', '2000.3', '2000.4', '2000.5', '2000.6', '2000.7', '2000.8',
       '2000.9', '2000.10', '2000.11', '2001', '2001.1', '2001.2', '2001.3',
       '2001.4', '2001.5'],
      dtype='object')

In [ ]:
print(df.value_counts())

1999   1999.1  1999.2  1999.3  1999.4  1999.5  1999.6  1999.7  1999.8  1999.9  1999.10  1999.11  2000   2000.1  2000.2  2000.3  2000.4  2000.5  2000.6  2000.7  2000.8  2000.9  2000.10  2000.11  2001   2001.1  2001.2  2001.3  2001.4  2001.5  2001.6  2001.7  2001.8  2001.9  2001.10  2001.11  2002   2002.1  2002.2  2002.3  2002.4  2002.5  2002.6  2002.7  2002.8  2002.9  2002.10  2002.11  2003   2003.1  2003.2  2003.3  2003.4  2003.5  2003.6  2003.7  2003.8  2003.9  2003.10  2003.11  2003.12  2004    2004.1  2004.2  2004.3  2004.4  2004.5  2004.6  2004.7  2004.8  2004.9  2004.10  2004.11  2004.12  2005    2005.1  2005.2  2005.3  2005.4  2005.5  2005.6  2005.7  2005.8  2005.9  2005.10  2005.11  2005.12  2006    2006.1  2006.2  2006.3  2006.4  2006.5  2006.6  2006.7  2006.8  2006.9  2006.10  2006.11  2006.12  2006.13  2006.14  2007  2007.1  2007.2  2007.3  2007.4  2007.5  2007.6  2007.7  2007.8  2007.9  2007.10  2007.11  2007.12  2007.13  2007.14  2007.15  2007.16  2007.17  2007.18  2007.19  2007.20  2007.21  2007.22  2007.23  2007.24  2007.25  2007.26  2007.27  2007.28  2007.29  2008  2008.1  2008.2  2008.3  2008.4  2008.5  2008.6  2008.7  2008.8  2008.9  2008.10  2008.11  2008.12  2008.13  2008.14  2008.15  2008.16  2008.17  2008.18  2008.19  2008.20  2008.21  2008.22  2008.23  2008.24  2008.25  2008.26  2008.27  2009  2009.1  2009.2  2009.3  2009.4  2009.5  2009.6  2009.7  2009.8  2009.9  2009.10  2009.11  2009.12  2009.13  2009.14  2009.15  2009.16  2009.17  2009.18  2009.19  2009.20  2009.21  2009.22  2009.23  2009.24  2009.25  2009.26  2009.27  2010  2010.1  2010.2  2010.3  2010.4  2010.5  2010.6  2010.7  2010.8  2010.9  2010.10  2010.11  2010.12  2010.13  2010.14  2010.15  2010.16  2010.17  2010.18  2010.19  2010.20  2010.21  2010.22  2010.23  2010.24  2010.25  2010.26  2010.27  2011  2011.1  2011.2  2011.3  2011.4  2011.5  2011.6  2011.7  2011.8  2011.9  2011.10  2011.11  2011.12  2011.13  2011.14  2011.15  2012  2012.1  2012.2  2012.3  2012.4  2012.5  2012.6  2012.7  2012.8  2012.9  2012.10  2012.11  2012.12  2012.13  2012.14  2013  2013.1  2013.2  2013.3  2013.4  2013.5  2013.6  2013.7  2013.8  2013.9
12426  12426   844     209     506     108     4424    68      1521    3805    183      758      47158  47158   8764    14264   629     1255    2336    3281    1999    10616   3186     828      63578  63578   11754   14610   795     2922    1856    3456    2759    20640   4047     739      69087  69087   9213    16457   669     3438    1785    3622    4621    23753   5008     521      63139  62689   10034   16064   1120    3714    2204    3346    5596    14259   5884     468      450      100543  99271   15817   8861    10524   3585    6179    11930   10261   25555   6118     441      1272     103254  101830  16890   9664    10726   3101    8052    12708   9679    25404   5017     589      1424     129709  128407  16644   10267   13430   3197    7911    11758   19395   26748   6846     597      8137     3477     1302     937   446000  775     442326  93      66853   67      48262   72      60234   49       12604    102      22543    81       24193    61       98960    127      72125    88       11950    12       2551     11       11344    12       10707    162      3674     719   296326  564     292971  84      58654   69      40863   72      60868   45       12070    77       15255    26       8597     60       63505    77       13096    30       2866     12       2814     12       14383    155      3355     612   198633  477     195346  84      50245   55      23893   67      32733   30       3353     61       10342    25       8468     60       54375    48       773      23       2235     12       1372     12       7557     135      3287     90    19089   88      18922   49      18344   4       291     13      158     6        20       1        9        1        1        3        34       6        10       1        4        3        50       1        1        2        167      10    776     10      776     4       747     1       2       1       4       2        4        1        1        1        18       10    201     10      201     4       194     1       2       1       2       1        1        1        1        3        6     75      6       75      1       75      1       2       1       1         1
소계     민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     소계     민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     소계     민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     소계     민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     소계     민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     위원회분야    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     위원회분야    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     위원회분야    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     민원분야     민원분야     위원회분야    소계    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     위원회분야    위원회분야    소계    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     위원회분야    위원회분야    소계    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     위원회분야    위원회분야    소계    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     위원회분야    위원회분야    소계    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     민원분야     민원분야     민원분야     민원분야     소계    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야     민원분야     민원분야     민원분야     민원분야     소계    소계      민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야    민원분야      1
       소계      건설분야    교통분야    도시계획분야  문화관광분야  보건복지분야  산업경제분야  소방분야    주택건축분야  환경분야     행정분야     소계     소계      건설분야    교통분야    도시계획분야  문화관광분야  보건복지분야  산업경제분야  소방분야    주택건축분야  환경분야     행정분야     소계     소계      건설분야    교통분야    도시계획분야  문화관광분야  보건복지분야  산업경제분야  소방분야    주택건축분야  환경분야     행정분야     소계     소계      건설분야    교통분야    도시계획분야  문화관광분야  보건복지분야  산업경제분야  소방분야    주택건축분야  환경분야     행정분야     소계     소계      건설분야    교통분야    도시계획분야  문화관광분야  보건복지분야  산업경제분야  소방분야    주택건축분야  환경분야     행정분야     소계       소계      소계      건설분야    교통분야    도시계획분야  문화관광분야  보건복지분야  산업경제분야  소방분야    주택건축분야  환경분야     행정분야     소계       소계      소계      건설분야    교통분야    도시계획분야  문화관광분야  보건복지분야  산업경제분야  소방분야    주택건축분야  환경분야     행정분야     소계       소계      소계      건설분야    교통분야    도시계획분야  문화관광분야  보건복지분야  산업경제분야  소방분야    주택건축분야  환경분야     행정분야     상수도분야    정보통신분야   소계       소계    소계      소계      소계      건설분야    건설분야    교통분야    교통분야    도시계획분야  도시계획분야  문화관광분야   문화관광분야   보건복지분야   보건복지분야   산업경제분야   산업경제분야   소방분야     소방분야     주택건축분야   주택건축분야   환경분야     환경분야     행정분야     행정분야     상수도분야    상수도분야    정보통신분야   정보통신분야   소계       소계       소계    소계      소계      소계      건설분야    건설분야    교통분야    교통분야    도시계획분야  도시계획분야  문화관광분야   문화관광분야   보건복지분야   보건복지분야   산업경제분야   산업경제분야   소방분야     소방분야     주택건축분야   주택건축분야   환경분야     환경분야     행정분야     행정분야     정보통신분야   정보통신분야   소계       소계       소계    소계      소계      소계      건설분야    건설분야    교통분야    교통분야    도시계획분야  도시계획분야  문화관광분야   문화관광분야   보건복지분야   보건복지분야   산업경제분야   산업경제분야   소방분야     소방분야     주택건축분야   주택건축분야   환경분야     환경분야     행정분야     행정분야     정보통신분야   정보통신분야   소계       소계       소계    소계      소계      소계      건설분야    건설분야    교통분야    교통분야    도시계획분야  도시계획분야  문화관광분야   문화관광분야   보건복지분야   보건복지분야   산업경제분야   산업경제분야   소방분야     소방분야     주택건축분야   주택건축분야   환경분야     환경분야     행정분야     행정분야     상수도분야    상수도분야    소계       소계       소계    소계      소계      소계      건설분야    건설분야    교통분야    교통분야    도시계획분야  도시계획분야  문화관광분야   문화관광분야   산업경제분야   산업경제분야   환경분야     환경분야     소계    소계      소계      소계      건설분야    건설분야    교통분야    교통분야    도시계획분야  문화관광분야  문화관광분야   산업경제분야   산업경제분야   환경분야     환경분야     소계    소계      소계      소계      건설분야    건설분야    교통분야    문화관광분야  산업경제분야  환경분야      1
업무수    업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수      업무수      업무수    업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수      업무수      업무수    업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수      업무수      업무수    업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수      업무수      업무수    업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수      업무수      업무수      업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수      업무수      업무수      업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수      업무수      업무수      업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수     업무수      업무수      업무수      업무수      업무수      업무수   민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수   민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수   민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수   민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수      민원수      업무수   민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수      민원수      업무수      민원수      업무수      민원수      업무수   민원수     업무수     민원수     업무수     민원수     업무수     민원수     업무수     업무수     민원수      업무수      민원수      업무수      민원수      업무수   민원수     업무수     민원수     업무수     민원수     업무수     업무수     업무수     업무수       1
합계     합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계     합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계     합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계     합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계     합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계      합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계      합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계      합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계       합계       합계    합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계    합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계    합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계    합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계       합계    합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계       합계       합계       합계    합계      합계      합계      합계      합계      합계      합계      합계      합계      합계       합계       합계       합계       합계       합계    합계      합계      합계      합계      합계      합계      합계      합계      합계        1
dtype: int64

In [ ]:
col_1999 = ['1999', '1999.1', '1999.2', '1999.3', '1999.4', '1999.5', '1999.6', '1999.7', '1999.8', '1999.9', '1999.10', '1999.11']
df_1999 = df.loc[:, col_1999]

In [ ]:
df_1999.head()

,1999,1999.1,1999.2,1999.3,1999.4,1999.5,1999.6,1999.7,1999.8,1999.9,1999.10,1999.11
0,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,소계,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야,민원분야
2,소계,소계,건설분야,교통분야,도시계획분야,문화관광분야,보건복지분야,산업경제분야,소방분야,주택건축분야,환경분야,행정분야
3,업무수,업무수,업무수,업무수,업무수,업무수,업무수,업무수,업무수,업무수,업무수,업무수
4,12426,12426,844,209,506,108,4424,68,1521,3805,183,758

## 경기주택도시공사_민원정보_221130

In [ ]:
df2 = pd.read_csv('경기주택도시공사_민원정보_221130.csv', encoding='cp949')
df2.head()

   민원구분    년도   1월  2월  3월   4월   5월  6월  7월  8월  9월  10월  11월  12월
0  도시재생  2022  6.0   6   6  3.0  2.0   0   2   0   4    2  1.0    0
1  고덕택지  2022  1.0   0   1  0.0  1.0   0   1   2   1    0  0.0    0
2  고양택지  2022  0.0   0   0  0.0  0.0   0   0   0   0    0  0.0    0
3  광교택지  2022  0.0   0   2  0.0  0.0   0   0   0   2    2  0.0    0
4  다산택지  2022  0.0   0   0  2.0  1.0   2   2   3   0    0  0.0    0

## 광주 광역시 바로응답

In [ ]:
df3 = pd.read_csv('/content/광주광역시_바로응답 민원현황_20220227.csv', encoding='cp949')

In [ ]:
df3.head()

      순번                      제목  작성자     처리부서  처리상태             작성일시  조회수
0  60015             버스기사 불친절 민원  김**      NaN    대기  2022-02-27 6:24    0
1  60013                시위 소음 신고  최**  혁신소통기획관    취하  2021-08-23 9:21    0
2  60012       국민신문고 감사의뢰에 대한 질의  박**    감사위원회  답변완료  2021-08-23 9:00    0
3  60011                   집주변공사  오**      광산구  답변완료  2021-08-23 8:16  841
4  60010  버스 기사가 마스크를 쓰지 안고서 운전함  김**    대중교통과  답변완료  2021-08-23 7:54    0

In [ ]:
new_df3 = df3.loc[:,['제목', '처리부서']]

In [ ]:
new_df3.head()

                       제목     처리부서
0             버스기사 불친절 민원      NaN
1                시위 소음 신고  혁신소통기획관
2       국민신문고 감사의뢰에 대한 질의    감사위원회
3                   집주변공사      광산구
4  버스 기사가 마스크를 쓰지 안고서 운전함    대중교통과

In [ ]:
new_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48985 entries, 0 to 48984
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      48985 non-null  object
 1   처리부서    46071 non-null  object
dtypes: object(2)
memory usage: 765.5+ KB

In [ ]:
new_df3.isna().sum()

제목         0
처리부서    2914
dtype: int64

In [ ]:
new_df3.dropna(axis=0, inplace=True)

In [ ]:
new_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46071 entries, 1 to 48984
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      46071 non-null  object
 1   처리부서    46071 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [ ]:
len(new_df3['처리부서'].value_counts())

210

In [ ]:
x = new_df3.drop('처리부서', axis=1)
y = new_df3.drop('제목', axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=3)



```
# 코드로 형식 지정됨
```

## 크롤링